

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	font-size: 16px;
}

.color1{
	background-color: #ff4444;
}

.color2{
	background-color: #33b5e5;
}

.color3{
	background-color: #2FEE10;
}

.color4{
	background-color: #9F16E8;
}












